@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #52e01f;
    font-size: 1rem;
}

.main {
    width: 50%;
    background: #ffffff;
    border: 1px solid #52e01f;
    border-radius: .3em;
    padding: 3em;
    min-width: 400px;
    position: relative;
    overflow: hidden;
}

.title {
    text-align: center;
}

.level-wrapper {
    display: flex;
    gap: 1em;
}

.display-holder {
    width: 100%;
}

.display-content,
.note {
    text-align: center;
}

.display-content {
    font-size: 1rem;
}

#input {
    display: block;
    width: 100%;
    border: 1px solid #4dfc0e;
    padding: 1em;
    border-radius: .3em;
}

#input:focus,
#input:active {
    outline: 2px solid #52e01f;
    border: 1px solid #52e01f;
    background: #e3f8db;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2em;
}

.check-btn {
    display: block;
    text-align: center;
    width: 33%;
    padding: .5em;
    background: #1f7ce0;;
    margin-top: 2em;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s;
    display: none;
}

.check-btn:hover {
    background-color: #5e9fe4;
}

.check-btn:active {
    background: #1f7ce0;
}

.start-btn {
    display: block;
    text-align: center;
    width: 33%;
    padding: .5em;
    background: #52e01f;
    margin-top: 2em;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s
}

.start-btn:hover {
    background-color: #4dfc0e;
}

.start-btn:active {
    background: #52e01f;
}

.quit-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quit-btn {
    width: 50%;
    display: block;
    text-align: center;
    padding: .5em;
    background: #ee4227;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s;
    display: none;
}

.quit-btn:hover {
    background-color: #f2735f;
}

.quit-btn:active {
    background: #ee4227;
}

.sublevel {
    text-transform: capitalize;
}

.level-holder,
.sublevel-hodler,
.chances,
.time-holder {
    display: none;
}

.main.active .level-holder,
.main.active .sublevel-hodler,
.main.active .chances,
.main.active .time-holder {
    display: block;
}

.main.active .check-btn,
.main.active .quit-btn {
    display: block;
}


.quit-section {
    position: absolute;
    width: 100%;
    background:rgba(225, 225, 225, .1);
    backdrop-filter: blur(10px);
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all .5s;
    transform: translateY(-100%);
}

.continue,
.quit-confirm {
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s;
    width: 30%;
    display: block;
    text-align: center;
    padding: .5em;
}

.continue {
    background: #52e01f;
}

.continue:hover {
    background-color: #4dfc0e;
}

.continue:active {
    background: #52e01f;
}

.quit-confirm {
    background: #ee4227;
}

.quit-confirm:hover {
    background-color: #f2735f;
}

.quit-confirm:active {
    background: #ee4227;
}

.main.quit .quit-section {
    transform: translateY(0%);
}