* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #52e01f;
    font-size: 1rem;
}

.main {
    width: 50%;
    background: #ffffff;
    border: 1px solid #52e01f;
    border-radius: .3em;
    padding: 3em;
    min-width: 400px;
}

.title {
    text-align: center;
}

.level-holder {
    display: flex;
    gap: 2em;
}

.display-content,
.note {
    text-align: center;
}

.display-content {
    font-size: 1rem;
}

#input {
    display: block;
    width: 100%;
    border: 1px solid #4dfc0e;
    padding: 1em;
    border-radius: .3em;
}

#input:focus,
#input:active {
    outline: 2px solid #52e01f;
    border: 1px solid #52e01f;
    background: #e3f8db;
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2em;
}

.check-btn {
    display: block;
    text-align: center;
    width: 33%;
    padding: .5em;
    background: #e0c91f;
    margin-top: 2em;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s;
}

.check-btn:hover {
    background-color: #dfcf52;
}

.check-btn:active {
    background: #e0c91f;
}

.next-btn {
    display: block;
    text-align: center;
    width: 33%;
    padding: .5em;
    background: #1f7ce0;
    margin-top: 2em;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s
}

.next-btn:hover {
    background-color: #5e9fe4;
}

.next-btn:active {
    background: #1f7ce0;
}

.start-btn {
    display: block;
    text-align: center;
    width: 33%;
    padding: .5em;
    background: #52e01f;
    margin-top: 2em;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s
}

.start-btn:hover {
    background-color: #4dfc0e;
}

.start-btn:active {
    background: #52e01f;
}

.quit-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.quit-btn {
    width: 50%;
    display: block;
    text-align: center;
    padding: .5em;
    background: #ee4227;
    text-transform: capitalize;
    color: #ffffff;
    font-size: 1.1rem;
    border-radius: .3em;
    transition: all .5s
}

.quit-btn:hover {
    background-color: #f2735f;
}

.quit-btn:active {
    background: #ee4227;
}